{% extends 'base.html.twig' %}

{% set title = 'Home Page' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="flex  justify-center bg-base p-6">
  <div class="w-xl card w-full max-w-md bg-base-100 shadow-xl rounded-lg p-8">
    <h1 class="text-center">{{ message }}</h1>
        <ul class="menu menu-vertical lg:menu-horizontal bg-base-200 rounded-box">
            <li><a class="btn btn-accent btn-outline" href="{{ path('home') }}">Home</a></li>
            <li><a class="btn btn-accent btn-outline" href="{{ path('register') }}">Register</a></li>
            <li><a class="btn btn-accent btn-outline" href="{{ path('login') }}">Login</a></li>
            <li><a class="btn btn-accent btn-outline" href="{{ path('test') }}">Recipe Page</a></li>
        </ul>
</div>
</div>

{% endblock %}
